body{
  height: 650px;
  width: 550px;
  /*background-image: url("img/party.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  color: blue;
  text-align: center;
}
.headline{
  font-weight: bold;
  font-size: 80px;
}
#close-image img {
    display: block;
    height: 130px;
    width: 100px;
}
button {
    display: inline-block;
    height: 130px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 100px;
}
